[submodule "Frontend_Vue_CADe"]
	path = Frontend_Vue_CADe
	url = https://github.com/SoftWorksAPI/Frontend_Vue_CADe
	branch = sprint-3
[submodule "Backend_CADe"]
	path = Backend_CADe
	url = https://github.com/SoftWorksAPI/Backend_CADe
	branch = sprint-3
[submodule "Python_Backend_CADe"]
	path = Python_Backend_CADe
	url = https://github.com/SoftWorksAPI/Python_Backend_CADe
	branch = sprint-3
